flows.json
[
    {
        "id": "f88c014770fffa18",
        "type": "tab",
        "label": "[MAIN] Main Dashboard",
        "disabled": false,
        "info": "UI y controles",
        "env": []
    },
    {
        "id": "87ca60d59ad0dd2c",
        "type": "tab",
        "label": "[API] Servicios API",
        "disabled": false,
        "info": "Subflujos para consumo de API",
        "env": []
    },
    {
        "id": "9b765c4fbc87132b",
        "type": "tab",
        "label": "[CACHE] Sistema de Caché",
        "disabled": false,
        "info": "Manejo de caché temporal",
        "env": []
    },
    {
        "id": "04ac14f2e958fc57",
        "type": "tab",
        "label": "[ERROR] Manejo de Errores",
        "disabled": false,
        "info": "Centralización de errores",
        "env": []
    },
    {
        "id": "94c934a385aaae34",
        "type": "global-config",
        "env": [
            {
                "name": "API_BASE_URL",
                "value": "https://api.jolpi.ca/ergast/f1",
                "type": "str"
            },
            {
                "name": "CURRENT_SEASON",
                "value": "2025",
                "type": "str"
            },
            {
                "name": "REQUEST_LIMIT",
                "value": "30",
                "type": "str"
            },
            {
                "name": "CACHE_DURATION",
                "value": "300000",
                "type": "num"
            }
        ],
        "modules": {}
    },
    {
        "id": "49208b2957f9d1f6",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "185767feb2ec6bb6",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "c90405128576a103",
        "type": "ui-page",
        "name": "Dashboard",
        "ui": "49208b2957f9d1f6",
        "path": "/home",
        "icon": "home",
        "layout": "grid",
        "theme": "185767feb2ec6bb6",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "734bf468c0c53ee3",
        "type": "ui-group",
        "name": "Control Panel",
        "page": "c90405128576a103",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ff59f358f3a6cead",
        "type": "ui-group",
        "name": "Rankings",
        "page": "c90405128576a103",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "0d36c34a1feaf846",
        "type": "comment",
        "z": "f88c014770fffa18",
        "name": "Caupolicán Ré",
        "info": "",
        "x": 200,
        "y": 260,
        "wires": []
    },
    {
        "id": "e202e688a1931748",
        "type": "comment",
        "z": "f88c014770fffa18",
        "name": "ENV_VARS",
        "info": "VARIABLES DE ENTORNO:\n- API_BASE_URL: URL base de la API jolpica-f1\n- CURRENT_SEASON: Temporada actual por defecto\n- REQUEST_LIMIT: Límite de resultados por request\n- CACHE_DURATION: Duración del caché en ms (5 min)",
        "x": 490,
        "y": 260,
        "wires": []
    },
    {
        "id": "66d27e5ef79cca7e",
        "type": "inject",
        "z": "f88c014770fffa18",
        "name": "Initialize Dashboard",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 210,
        "y": 360,
        "wires": [
            [
                "4698ef61c3554efd"
            ]
        ]
    },
    {
        "id": "4698ef61c3554efd",
        "type": "function",
        "z": "f88c014770fffa18",
        "name": "Configure Available Seasons",
        "func": "// Generate list of seasons (1950 - present)\nconst currentYear = new Date().getFullYear();\nconst seasons = [];\n\nfor (let year = currentYear; year >= 1950; year--) {\n    seasons.push({\n        label: year.toString(),\n        value: year.toString()\n    });\n}\n\nmsg.options = seasons;\nmsg.payload = global.get(\"CURRENT_SEASON\") || currentYear.toString();\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 360,
        "wires": [
            [
                "835975d334beda51"
            ]
        ]
    },
    {
        "id": "835975d334beda51",
        "type": "ui-dropdown",
        "z": "f88c014770fffa18",
        "group": "734bf468c0c53ee3",
        "name": "Selector: F1 Season",
        "label": "Season",
        "tooltip": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "options",
                "value": "msg",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 820,
        "y": 360,
        "wires": [
            [
                "1a86e92046fd35d7"
            ]
        ]
    },
    {
        "id": "1a86e92046fd35d7",
        "type": "change",
        "z": "f88c014770fffa18",
        "name": "Save Selected Season",
        "rules": [
            {
                "t": "set",
                "p": "selectedSeason",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 360,
        "wires": [
            [
                "674bb2e6647b06e5"
            ]
        ]
    },
    {
        "id": "674bb2e6647b06e5",
        "type": "link out",
        "z": "f88c014770fffa18",
        "name": "Enable Data Update",
        "mode": "link",
        "links": [],
        "x": 1300,
        "y": 360,
        "wires": [],
        "l": true
    },
    {
        "id": "aaf9cdd0666218d3",
        "type": "link in",
        "z": "f88c014770fffa18",
        "name": "Receive Trigger: Update Drivers",
        "links": [],
        "x": 250,
        "y": 460,
        "wires": [
            [
                "0f13251936bdfae9"
            ]
        ],
        "l": true
    },
    {
        "id": "0f13251936bdfae9",
        "type": "link call",
        "z": "f88c014770fffa18",
        "name": "Call: API Drivers Standings",
        "links": [
            "aaf9cdd0666218d3"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 560,
        "y": 460,
        "wires": [
            [
                "6962adb379b85fb9"
            ]
        ]
    },
    {
        "id": "6962adb379b85fb9",
        "type": "function",
        "z": "f88c014770fffa18",
        "name": "Format Drivers Table",
        "func": "try {\n    const standings = msg.payload.MRData.StandingsTable.StandingsLists[0].DriverStandings;\n    \n    // const top10 = standings.slice(0, 10);\n    \n    msg.payload = standings.map(driver => ({\n        \"Pos\": driver.position,\n        \"Driver\": `${driver.Driver.givenName} ${driver.Driver.familyName}`,\n        \"Nationality\": driver.Driver.nationality,\n        \"Team\": driver.Constructors[0].name,\n        \"Points\": driver.points,\n        \"Wins\": driver.wins\n    }));\n    \n    flow.set(\"driversData\", msg.payload);\n    \n    return msg;\n} catch(error) {\n    node.error(\"Error formatting driver data: \" + error.message, msg);\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 460,
        "wires": [
            [
                "d05ef981503790b3"
            ]
        ]
    },
    {
        "id": "d05ef981503790b3",
        "type": "ui-table",
        "z": "f88c014770fffa18",
        "group": "ff59f358f3a6cead",
        "name": "Drivers Rankings",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "deselect": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "append",
        "className": "",
        "x": 1050,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "03866207b58a2bd9",
        "type": "catch",
        "z": "f88c014770fffa18",
        "name": "Capture Error: Driver Standing",
        "scope": [
            "aaf9cdd0666218d3",
            "0f13251936bdfae9",
            "6962adb379b85fb9",
            "d05ef981503790b3"
        ],
        "uncaught": false,
        "x": 1280,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "b5e278ae86790d71",
        "type": "link in",
        "z": "f88c014770fffa18",
        "name": "Receive Trigger: Update Constructors",
        "links": [],
        "x": 270,
        "y": 540,
        "wires": [
            [
                "ba7072e09a875274"
            ]
        ],
        "l": true
    },
    {
        "id": "ba7072e09a875274",
        "type": "link call",
        "z": "f88c014770fffa18",
        "name": "Call: API Constructors Standings",
        "links": [
            "b5e278ae86790d71"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 570,
        "y": 540,
        "wires": [
            [
                "ea2f8085fb69a3fa"
            ]
        ]
    },
    {
        "id": "ea2f8085fb69a3fa",
        "type": "function",
        "z": "f88c014770fffa18",
        "name": "Format Constructors Table",
        "func": "try {\n    const standings = msg.payload.MRData.StandingsTable.StandingsLists[0].ConstructorStandings;\n    \n    const top5 = standings.slice(0, 5);\n    \n    // chart.js Format\n    const labels = top5.map(c => c.Constructor.name);\n    const data = top5.map(c => parseInt(c.points));\n    \n    msg.payload = [{\n        series: [\"Points\"],\n        data: [data],\n        labels: labels\n    }];\n    \n    flow.set(\"constructorsData\", standings);\n    \n    return msg;\n} catch(error) {\n    node.error(\"Error formatting constructor data: \" + error.message, msg);\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 540,
        "wires": [
            [
                "b21387216e30491f"
            ]
        ]
    },
    {
        "id": "b21387216e30491f",
        "type": "ui-chart",
        "z": "f88c014770fffa18",
        "group": "ff59f358f3a6cead",
        "name": "Top 5 Constructors Chart",
        "label": "Top 5 Constructors Points",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1110,
        "y": 540,
        "wires": [
            []
        ]
    }
]