flows.json
[
    {
        "id": "f88c014770fffa18",
        "type": "tab",
        "label": "[MAIN] Main Dashboard",
        "disabled": false,
        "info": "UI y controles",
        "env": []
    },
    {
        "id": "87ca60d59ad0dd2c",
        "type": "tab",
        "label": "[API] Servicios API",
        "disabled": false,
        "info": "Subflujos para consumo de API",
        "env": []
    },
    {
        "id": "9b765c4fbc87132b",
        "type": "tab",
        "label": "[CACHE] Sistema de Caché",
        "disabled": false,
        "info": "Manejo de caché temporal",
        "env": []
    },
    {
        "id": "04ac14f2e958fc57",
        "type": "tab",
        "label": "[ERROR] Manejo de Errores",
        "disabled": false,
        "info": "Centralización de errores",
        "env": []
    },
    {
        "id": "94c934a385aaae34",
        "type": "global-config",
        "env": [
            {
                "name": "API_BASE_URL",
                "value": "https://api.jolpi.ca/ergast/f1",
                "type": "str"
            },
            {
                "name": "CURRENT_SEASON",
                "value": "2025",
                "type": "str"
            },
            {
                "name": "REQUEST_LIMIT",
                "value": "30",
                "type": "str"
            },
            {
                "name": "CACHE_DURATION",
                "value": "300000",
                "type": "num"
            }
        ],
        "modules": {}
    },
    {
        "id": "49208b2957f9d1f6",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "185767feb2ec6bb6",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "c90405128576a103",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "49208b2957f9d1f6",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "185767feb2ec6bb6",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "734bf468c0c53ee3",
        "type": "ui-group",
        "name": "Group 1",
        "page": "c90405128576a103",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "0d36c34a1feaf846",
        "type": "comment",
        "z": "f88c014770fffa18",
        "name": "Caupolicán Ré",
        "info": "",
        "x": 200,
        "y": 220,
        "wires": []
    },
    {
        "id": "e202e688a1931748",
        "type": "comment",
        "z": "f88c014770fffa18",
        "name": "ENV_VARS",
        "info": "VARIABLES DE ENTORNO:\n- API_BASE_URL: URL base de la API jolpica-f1\n- CURRENT_SEASON: Temporada actual por defecto\n- REQUEST_LIMIT: Límite de resultados por request\n- CACHE_DURATION: Duración del caché en ms (5 min)",
        "x": 190,
        "y": 280,
        "wires": []
    },
    {
        "id": "66d27e5ef79cca7e",
        "type": "inject",
        "z": "f88c014770fffa18",
        "name": "Initialize Dashboard",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 230,
        "y": 360,
        "wires": [
            [
                "4698ef61c3554efd"
            ]
        ]
    },
    {
        "id": "4698ef61c3554efd",
        "type": "function",
        "z": "f88c014770fffa18",
        "name": "Configure Available Seasons",
        "func": "// Generate list of seasons (1950 - present)\nconst currentYear = new Date().getFullYear();\nconst seasons = [];\n\nfor (let year = currentYear; year >= 1950; year--) {\n    seasons.push({\n        label: year.toString(),\n        value: year.toString()\n    });\n}\n\nmsg.options = seasons;\nmsg.payload = global.get(\"CURRENT_SEASON\") || currentYear.toString();\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "835975d334beda51",
        "type": "ui-dropdown",
        "z": "f88c014770fffa18",
        "group": "734bf468c0c53ee3",
        "name": "",
        "label": "Select Option:",
        "tooltip": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "value": "",
                "label": ""
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 740,
        "y": 360,
        "wires": [
            []
        ]
    }
]